* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.containerX {
  display: flex;
}
main {
  width: 100%;
  padding: 20px;
}
.sidebar {
  background: #0db490;
  color: aliceblue;
  height: 100vh;
  width: 500px;
  transition: all 0.5s;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo {
  font-size: 25px;
}
.bars {
  font-size: 25px;
  display: flex;
  margin-left: 5px;
}
.link{
    display: flex;
    color: aliceblue;
    padding: 10px 15px;
    gap: 15px;
    align-items: center;
    align-self: center;
    transition: all 0.5s;
}
.link:hover{
    background: #e1f056;
    color: black;
}
.icon , .link_text {
    font-size: 20px
}
.link_text{
  font-family: 'Lobster', cursive;
}
